<template>
    <div>
        <div class="btn-group pagination" role="group">
            <button class="btn btn-outline-secondary" :disabled="pageNumber === 0" @click="prevPage">Назад</button>
            <button class="btn btn-outline-secondary" disabled>{{ pageNumber + 1 }} / {{ pageCount }}</button>
            <button class="btn btn-outline-secondary" :disabled="pageNumber >= pageCount -1" @click="nextPage">Далее</button>
        </div>
        <table-component :data="paginatedData"></table-component>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                pageNumber: 0
            }
        },
        props: {
            listData: {
                type: Array,
                required: true
            },
            size: {
                type: Number,
                required: false,
                default: 10
            }
        },
        methods: {
            nextPage() {
                this.pageNumber++;
            },
            prevPage() {
                this.pageNumber--;
            }
        },
        computed: {
            pageCount() {
                let l = this.listData.length,
                    s = this.size;
                return Math.ceil(l / s);
            },
            paginatedData() {
                const start = this.pageNumber * this.size,
                    end = start + this.size;
                return this.listData.slice(start, end);
            }
        },
        watch: {
            paginatedData: function() {
                if (this.listData.length < this.size)
                    this.pageNumber = 0;
            }
        }
    }
</script>

<style scoped>
    .pagination {
        display: flex;
        position: absolute;
        top: 69px;
        right: 20px;
    }
    button:hover {
        cursor: pointer;
    }
    button:hover:disabled {
        cursor: not-allowed;
    }
</style>
