<template>
    <div>
        <div class="form-inline mt-2 mb-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" v-model="user_name" placeholder="Введите фамилию" aria-label="Поиск">
            <button class="btn btn-outline-success my-sm-0" @click="findUsers()" type="button">Поиск</button>
        </div>
        <pagination-component :list-data="results"></pagination-component>
    </div>
</template>

<script>
    export default {
        props: {
            name: {
                type: String,
                required: true
            },
            accessToken: {
                type: String,
                required: true
            }
        },
        data() {
            return {
                user_name: '',
                results: [],
            }
        },
        methods: {
            findUsers() {
                this.results = [];
                axios.get('/api/admin/' + this.name, {
                    params: {
                        user_name: this.user_name
                    },
                    headers: {
                        Accept: 'application/json',
                        Authorization: 'Bearer ' + this.accessToken,
                    }
                }).then(response => {
                    this.results = response.data;
                }).catch(err => console.log(err));
            }
        },
        mounted() {
            this.findUsers();
        }
    }
</script>
