<template>
    <div v-if="items.length">
        <table class="table table-striped">
            <tbody>
                <tr v-for="item in items">
                    <td v-for="value in item">{{ value }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        props: {
            data: {
                type: Array,
                required: true
            }
        },
        data() {
            return {
                items: []
            }
        },
        watch: {
            data: function () {
                this.items = this.data;
            }
        }
    }
</script>
